{% extends 'base.html.twig' %}

{% block title %}Quai Antique{% endblock %}

{% block body %}
    <div class="flex flex-col bg-slate-300">
        {# First bloc, button for menu #}
        <div class="headerImage h-screen flex items-center justify-center">
            <div class="flex flex-col justify-center">
                <h1 class="text-xl md:text-2xl lg:text-3xl italic pb-6">Bienvenue chez Quai Antique !</h1>
                <p class="text-3xl md:text-5xl lg:text-6xl font-bold uppercase pb-8">Mangez, rêvez !</p>
                <a href="{{path('app_gallery')}}">
                    <button type="button" class="self-center focus:outline-none text-slate-50 bg-yellow-900 hover:bg-yellow-800 font-extrabold rounded-lg text-lg md:text-xl lg:text-2xl uppercase px-5 py-2.5 mr-2 mb-2 w-56 md:w-60 lg:w-64">Voir la galerie</button>
                </a>
            </div>
        </div>
        {# Second bloc, button to book table #}
        <div class="bookImage h-screen flex items-center justify-center">
            <div class="flex w-0 sm:w-7/12"></div>
            <div class="flex flex-col justify-center">
                <h1 class="text-xl md:text-2xl lg:text-3xl italic pb-6">Vous en avez envie,</h1>
                <p class="text-3xl md:text-5xl lg:text-6xl font-bold uppercase pb-8">Venez !</p>
                <a href="{{path('app_book')}}">
                    <button type="button" class="self-center focus:outline-none text-slate-50 bg-yellow-900 hover:bg-yellow-800 font-extrabold rounded-lg text-lg md:text-xl lg:text-2xl uppercase px-5 py-2.5 mr-2 mb-2 md:w-60 lg:w-64">Réserver une table</button>
                </a>
            </div>
        </div>
        {# Third bloc, button to see menu #}
        <div class="menuImage h-screen flex items-center justify-center">
            <div class="flex flex-col justify-center">
                <h1 class="text-xl md:text-2xl lg:text-3xl italic pb-6">N'hésitez plus,</h1>
                <p class="text-3xl md:text-5xl lg:text-6xl font-bold uppercase pb-8">Choisissez !</p>
                <a href="{{path('app_menu')}}">
                    <button type="button" class="self-center focus:outline-none text-slate-50 bg-yellow-900 hover:bg-yellow-800 font-extrabold rounded-lg text-lg md:text-xl lg:text-2xl uppercase px-5 py-2.5 mr-2 mb-2 md:w-60 lg:w-64">Voir la carte</button>
                </a>
            </div>
            <div class="flex w-0 sm:w-7/12"></div>
        </div>
        {# Fourth bloc, contact #}
        <div class="contactImage h-screen flex flex-col lg:flex-row items-center justify-center">
            <div class="flex flex-col lg:w-5/12 justify-center">
                <h1 class="text-xl md:text-2xl lg:text-3xl italic pb-6">Une question,</h1>
                <p class="text-3xl md:text-5xl lg:text-6xl font-bold uppercase pb-8">Dites-nous !</p>
                <a href="{{path('app_contact')}}">
                    <button type="button" class="self-center focus:outline-none text-slate-50 bg-yellow-900 hover:bg-yellow-800 font-extrabold rounded-lg text-lg md:text-xl lg:text-2xl uppercase px-5 py-2.5 mr-2 mb-2 md:w-60 lg:w-64">Nous contacter</button>
                </a>
            </div>
            <iframe class="flex w-screen lg:w-8/12 h-96 p-5" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d12940.385910339273!2d5.9010515793060385!3d45.59016272454399!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1670425444599!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
{% endblock %}
