<footer class="bg-gray-900 flex flex-row flex-nowrap text-sm justify-around items-center p-4">
    <div class="flex flex-row text-white">
        <div>© Quai Antique - Tous droits réservés.</div>
    </div>
    <div class="flex flex-row text-white text-xs">
        <div class="flex flex-col mr-1 px-1 md:px-2 text-center border-2 border-gray-800">
            <p class="underline pb-2 text-green-500">Ouverture</p>
            <p class="italic">Mardi au Samedi :</p>
            <p class="italic">11h30-14h30 / 19h - 22h30</p>
        </div>
        <div class="flex flex-col ml-1 px-1 md:px-2 text-center border-2 border-gray-800">
            <p class="underline pb-2 text-red-500">Fermeture</p>
            <p class="italic">Dimanche et Lundi</p>
        </div>
    </div>
</footer>