{% extends 'base.html.twig' %}

{% block title %}Hello GalleryController!{% endblock %}

{% block body %}
<div class="flex-grow columns-2 gap-5 px-2 md:columns-3 lg:columns-4 max-w-5xl mx-auto py-5">
    {% for photo in photos %}
        <div class="relative hover:scale-105 transition duration-300 ease-in-out cursor-pointer py-5">
            <a href="{{ vich_uploader_asset(photo, 'imageFile') }}" class="spotlight absolute inset-0 z-10 bg-yellow-800 text-center text-white font-bold uppercase flex flex-col items-center justify-center opacity-0 hover:opacity-100 bg-opacity-90 duration-300">
                <p>{{ photo.title }}</p>
            </a>
            <img src="{{ vich_uploader_asset(photo, 'imageFile') }}" alt="">
        </div>
    {% endfor %}
</div>
{% endblock %}
